@import "tailwindcss";
@font-face {
    font-family: 'main-font';
    src: url('/fonts/Inter_28pt-Regular.ttf');
}

*{
    font-family: 'main-font';
    user-select: none;
    scrollbar-width: none;
}